.container{
display: flex;
justify-content: center;
align-items: center;
background-color: aqua;
/* viewport-: 100px; */
}
.card{
    margin: 100px;
    padding: 50px;
}
.input-group{
    /* margin:1px; */
    margin-top: 5px;
}
/* .form-control-btn{
    background: rgb(239, 223, 45);
    margin-left: 70px;
} */
.text-info{
    cursor: pointer;
}